@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="swim-content">
        <div class="container">
            <div>
                <center>
                    <h1 id="title">About Us</h1><br />
                    
                    <div class="container" align="justify">
                        <p>
                            The <b>BlueJobs</b> app is an innovative solution created by the dedicated <b>Team Devalappars</b>. The team has utilized
                            their expertise to design a user-friendly and efficient platform that streamlines the process of connecting local
                            skilled workers with potential employers.</p><br />



                        <p>
                            The app is packed with cutting-edge features and functionalities that enable skilled workers to showcase their
                            talents, connect with potential employers, and secure job opportunities with ease. Likewise, it allows industries to
                            easily find the right skilled workers that match their requirements.
                        </p><br />



                        <p>
                            Team Devalappars has worked tirelessly to ensure that the BlueJobs app is secure, reliable, and user-friendly for
                            all users, including barangays. From the intuitive user interface to the robust security measures, the app is
                            designed to provide a seamless experience for all users.
                        </p><br />



                        <p>
                            With their unwavering commitment to excellence and their passion for technology, Team Devalappars has
                            revolutionized the way skilled workers and industries connect in the local job market. The BlueJobs app is a
                            testament to their skills and dedication, and it continues to transform the lives of skilled workers and industries in
                            the community.<br />
                        </p>
                    </div>
                    </center>
                </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>